<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XTraderLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <gcConcurrent enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="RequiredLibraries"/>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog31">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/config/log.cfg" />
      </factoryAdapter>
    </logging>
  </common>
  <!--common>
    <logging>
      <factoryAdapter type="TradingLib.KryptonControl.ControlLogFactoryAdapter, TradingLib.XTrader.Control">
      </factoryAdapter>
    </logging>
  </common-->
  

  <userSettings>
    <XTraderLite.Properties.Settings>
      <setting name="saveAccount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="updateBasic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Account" serializeAs="String">
        <value />
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
    </XTraderLite.Properties.Settings>
  </userSettings>
</configuration>
