<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <common>
    <logging>
      <factoryAdapter type="TradingLib.DataFarmManager.ControlLogFactoryAdapter, DataFarmMgr">
      </factoryAdapter>
    </logging>
  </common>

  <!--common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog31">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/config/log_dfmgr.cfg" />
      </factoryAdapter>
    </logging>
  </common-->

  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="RequiredLibraries" />
    </assemblyBinding>
  </runtime>

</configuration>
